<div class="container-fluid intro">

  <div class="introContent" align="center">
    <h1 class="name"> V. K. Jayendra Varma</h1>
    <div class="nav" align="center">
        <a [routerLink]="['/resume']" ><button type="button"
          class="btn btn-primary  resume">About me</button></a>
          <a [routerLink]="['/contactme']"><button type="button"
            class="btn btn-primary contact">Contact me</button></a>
            <br>
            <app-footer></app-footer>
     
    </div>
  </div>

</div>
