/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');

.btn {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  width: 180px;
  height: 43px;
  margin: 1em 1em 1em 0em;
  background: transparent !important;
  transition: all 0.2s;
  outline: none !important;
  &:hover{
    background-color: rgb(255, 0, 0) !important;
    border:  rgb(255, 0, 0);
  }
    
}


body {
  padding: 0 !important;
  margin: 0 !important;
  background: #870000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.close{
  height: 35px;
  width: 35px;
  position: absolute;
  top: 25px;
  right: 30px;
  opacity: 0.95;
  transition: all 0.2s;
  &:hover{
    opacity: 0.7;
  }
  .closeimg{
    width: 25px;
    height: 25px;
  }

}
